*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
#header{
    background-color:#00695c;
    text-align: center;
}
#header ul{
    list-style-type: none;
}
#header .logo{
    font-size: 2em;
    font-family: 'Poiret One', cursive;
}
#header a{
    color: #FEFFFC;
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: opacity 0.4s;
    opacity: 0.8;
}
#header a:hover{
    opacity: 1;
}

#intro{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(46,35,51,1), rgba(220,233,190,0.5)), url('../img/14.jpg');  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(76, 175, 80, 0.7), rgba(220,233,190,0.5)), url('../img/14.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}
#intro h1{
    font-size: 2em;
    font-family: 'Poiret One', cursive;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
#intro p{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#aside{
    display: none;
}
#gallery{
    padding: 20px;
    padding-bottom: 30px;
    background-color: #fff;
}
.gallery-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
    grid-gap: 20px;
}
#gallery .img-container{
    overflow: hidden;
}
#gallery .img-container img{
    height: 100%;
    min-width: 100%;
}
#gallery h2{
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding-bottom: 20px;
}
#services{
    padding-bottom: 30px;
}
#services h2{
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    padding: 20px;
    text-align: center;
}
.service{
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}
.service-img{
    height: 300px;
    overflow: hidden;
}
.service-img img{
    height: 100%;
    min-width: 100%;
}
.service-desc h5{
    font-size: 1.3em;
    padding:10px 0;
}
.service-desc .call-to-action{
    margin: 15px 0px;
    padding: 15px;
    color: #fff;
    background-color: #00695c;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background-color 0.3s;
}
.service-desc .call-to-action:hover{
    background-color: #2E2633;
}
#about{
    background-color: #fff;
}
#about h2{
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    padding: 20px;
    text-align: center;
}
#about p{
    padding: 20px;
}
#contact{
    padding-bottom: 30px;
}
#contact h2{
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    padding: 20px;
    text-align: center;
}
#contact form{
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
#contact label{
    display: block;
    margin: 20px 0 5px 0;
}
#contact input{
    padding: 10px;
    width: 100%;
    border: 2px solid transparent;
    transition: border 0.3s;
}
#contact input:hover,
#contact input:focus{
    border: 2px solid gray;
}
#contact textarea{
    padding: 10px;
    width: 100%;
    border: 2px solid transparent;
    transition: border 0.3s;
    outline: none;
}
#contact textarea:hover,
#contact textarea:focus{
    border: 2px solid gray;
}
#footer{
    background-color: #263238;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
}

@media screen and (min-width: 650px){
    #header ul{
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }

    #header .logo{
        margin-right: auto;
    }
    #intro{
        height: 500px;
    }
    #aside{
        display: block;
        background-color: #fff;
    }
    #aside h3{
        display: none;
    }
    #aside ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    #aside a{
        padding: 20px;
        display: block;
        text-decoration: none;
        color: #555152;
        transition: background-color 0.3s;
    }
    #aside a:hover{
        background-color: rgba(0,0,0,.1);
    }
    .gallery-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 250px;
    }
    .gallery-container .img-container:first-child{
        grid-column: 1/4;
    }
    .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
        grid-gap: 10px;
        justify-content: center;

    }

    #about p{
        width: 80%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1200px){
    #intro h1{
        font-size: 3em;
        margin-bottom: 20px;
    }
    body{
        display: grid;
        max-width: 1400px;
        margin: auto;
        grid-template-columns: 1fr 900px 200px;
        grid-template-areas:
            "header intro intro"
            "header gallery aside"
            "header services  aside"
            "header about  aside"
            "header contact aside"
            "footer footer footer";
    }
    .gallery-container{
        grid-template-rows: 500px 250px;
    }
    #header{
        grid-area: header;
        padding: 0px;
    }
    #header ul{
        flex-direction: column;
        align-items: stretch;
        padding: 0px;
    }
    #header a{
        transition: background-color 0.3, opacity 0.3;
    }
    #header a:hover{
        background-color: rgba(0,0,0,.1);

    }
    #intro{
        grid-area: intro;
    }
    #aside{
        grid-area: aside;
        border-left: 1px solid rgba(0,0,0,.1);
    }
    #aside ul{
        flex-direction: column;
    }
    #aside h3{
        display: block;
        padding: 20px;
        padding-left: 15px;
        font-family: 'Poiret One', cursive;
    }
    #gallery{
        grid-area: gallery;
    }
    #services{
        grid-area: services;
    }
    #about{
        grid-area: about;
    }
    #contact{
        grid-area: contact;
    }
   #footer{
        grid-area: footer;
    }
    .services-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    }
}
